{% extends 'layout.htm' %}
{% block container %}
<div class="top-pad">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>title</th>
            <th>rating</th>
            <th>description</th>
            <th>producer</th>
        </tr>
        </thead>
        <tbody>
        {% for data in books %}
        <tr>
            <td><a href="{{data.id}}">{{data.title | upper}}</a></td>
            <td>{{data.rating}}</td>
            <td>{{data.description}}</td>
            <td>{{data.producer}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}